version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8
    working_directory: /go/src/github.com/YusukeIwaki/circleci_gox_ghr_playground
    steps:
      - checkout
      - run:
          name: Install tools
          command: |
            go get -u github.com/mitchellh/gox
            go get -u github.com/tcnksm/ghr
      - run:
          name: Build
          command: |
            gox -osarch="darwin/amd64 linux/386 linux/amd64 linux/arm windows/386 windows/amd64" -output="./out/binary/{{.OS}}/{{.Arch}}/appetize" -parallel=2
